* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New';
    font-weight: 50;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: rgb(48, 47, 47);
    --secondaryGradient:rgb(56, 54, 54);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #bd0707;
    --primary-blue:rgb(15, 15, 98);
    --primary-green:green;
}
.main-container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 2, 40);
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.foot{
    background-color: rgb(2, 2, 40);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}
.container{
    display: flex;
}

/* CHATBOX
=============== */
.chatbox {
    /* position: absolute;
    bottom: 30px;
    right: 30px; */
    padding: 5%;
}

/* CONTENT IS CLOSE */
     .chatbox__support,.chatbox__support_anush,.chatbox__support_tanseeha{
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 1;
    transition: all .5s ease-in-out;
} 

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
/* .chatbox__button {
    text-align: right;
} */

.send__button,.send__button_anush,.send__button_tanseeha{
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
/* .chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
} */

/* MESSAGES */
.chatbox__messages,.chatbox__messages_anush,.chatbox__messages_tanseeha{
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

/* .messages__item ,.messages__item_tanseeha,.messages__item_anush{
    background: orange;
    max-width: 60.6%;
    width: fit-content;
} */

.messages__item--operator,.messages__item_tanseeha--operator,.messages__item_anush--operator {
    margin-left: auto;
}

.messages__item--visitor,.messages__item_tanseeha--visitor,.messages__item_anush--visitor{
    margin-right: auto;
}

/* FOOTER */
/* .chatbox__footer {
    position: sticky;
    bottom: 0;
} */

.chatbox__support,.chatbox__support_anush,.chatbox__support_tanseeha{
    background: #f9f9f9;
    height: 550px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
    margin-top: 6px;
}

/* Messages */
.chatbox__messages,.chatbox__messages_anush ,.chatbox__messages_tanseeha{
    padding: 0 20px;
}

.messages__item,.messages__item_anush,.messages__item_tanseeha {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}





.messages__item_anush--visitor,
.messages__item_anush--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item_anush--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary-blue);
    color: white;
}

.messages__item_tanseeha--visitor,
.messages__item_tanseeha--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item_tanseeha--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary-blue);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


@media only screen and (max-width:1500px){
    .container{
        flex-direction: column;
        align-items: center;
    }


}